<%= form_with(model: exercise, local: true) do |form| %>
  <% if exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% exercise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :exercise_name %>
  </div>

  <div class="field">
    <%= form.label :superset %>
    <%= form.text_field :superset, id: :exercise_superset %>
  </div>

  <div class="field">
    <%= form.label :rest %>
    <%= form.text_field :rest, id: :exercise_rest %>
  </div>

  <div class="field">
    <%= form.label :tempo1 %>
    <%= form.number_field :tempo1, id: :exercise_tempo1 %>
  </div>

  <div class="field">
    <%= form.label :tempo2 %>
    <%= form.number_field :tempo2, id: :exercise_tempo2 %>
  </div>

  <div class="field">
    <%= form.label :tempo3 %>
    <%= form.number_field :tempo3, id: :exercise_tempo3 %>
  </div>

  <div class="field">
    <%= form.label :tempo4 %>
    <%= form.number_field :tempo4, id: :exercise_tempo4 %>
  </div>

  <div class="field">
    <%= form.label :tempos %>
    <%= form.text_field :tempos, id: :exercise_tempos %>
  </div>

  <div class="field">
    <%= form.label :tempo_other %>
    <%= form.text_field :tempo_other, id: :exercise_tempo_other %>
  </div>

  <div class="field">
    <%= form.label :sets %>
    <%= form.number_field :sets, id: :exercise_sets %>
  </div>

  <div class="field">
    <%= form.label :sets2 %>
    <%= form.number_field :sets2, id: :exercise_sets2 %>
  </div>

  <div class="field">
    <%= form.label :reps %>
    <%= form.number_field :reps, id: :exercise_reps %>
  </div>

  <div class="field">
    <%= form.label :rpe %>
    <%= form.text_field :rpe, id: :exercise_rpe %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :exercise_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
