<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @exercise.name %>
</p>

<p>
  <strong>Superset:</strong>
  <%= @exercise.superset %>
</p>

<p>
  <strong>Rest:</strong>
  <%= @exercise.rest %>
</p>

<p>
  <strong>Tempo1:</strong>
  <%= @exercise.tempo1 %>
</p>

<p>
  <strong>Tempo2:</strong>
  <%= @exercise.tempo2 %>
</p>

<p>
  <strong>Tempo3:</strong>
  <%= @exercise.tempo3 %>
</p>

<p>
  <strong>Tempo4:</strong>
  <%= @exercise.tempo4 %>
</p>

<p>
  <strong>Tempos:</strong>
  <%= @exercise.tempos %>
</p>

<p>
  <strong>Tempo other:</strong>
  <%= @exercise.tempo_other %>
</p>

<p>
  <strong>Sets:</strong>
  <%= @exercise.sets %>
</p>

<p>
  <strong>Sets2:</strong>
  <%= @exercise.sets2 %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @exercise.reps %>
</p>

<p>
  <strong>Rpe:</strong>
  <%= @exercise.rpe %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @exercise.notes %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
